
@{
    ViewBag.Title = "Get New Deck";
}

<h2>New Deck</h2>

<p>@ViewBag.NewDeckMessage</p>

<h5>How many cards would you like to draw?</h5>
<form action="~/API/DrawCards" method="get">
    <input type="number" name="numDraw" />
    <input type="submit" value="Draw"/>
</form>

<h5>Or draw a 5-card hand:</h5>
<form action="~/API/DrawCards" method="get">
    <input type="hidden" name="numDraw" value="5" />
    <input type="submit" value="Draw Five" />
</form>